* {
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

.modules-left {
  margin: 5px 0 5px 5px;
  background-color: rgba(0, 119, 179, 0.6);
}

#mode {
  color: #cc3436;
  font-weight: bold;
  font-style: italic;
}

#workspaces button {
  padding: 3px 7px;
  background-color: transparent;
}

#workspaces button.focused {
  background-color: rgba(0, 43, 51, 0.85);
}

.modules-center {
  margin: 5px 0;
  padding: 0 40px;
  background-color: rgba(0, 119, 179, 0.6);
  font-weight: bold;
}

.modules-right {
  background-color: rgba(0, 119, 179, 0.6);
  margin: 5px 5px 5px 0;
  padding: 0 10px;
}

#clock,
#pulseaudio,
#network,
#memory,
#cpu,
#custom-whoami {
  padding: 0 8px;
}
